.DS_Store
.sass-cache
*.*~
*.user
*.autosave
*.user.*
.idea/
*.gcov
cmake-build-debug/
ext/restbed/dependency/catch/
ext/restbed/distribution/
build
.cproject
.project
.settings/
.kdev4/
.vscode/
openmonero.kdev4
