<div class="modal-background" modal-name="imported-account" ng-controller="ImportAccountCtrl">
  <div class="w-container">
    <div class="w-clearfix">
      <a class="w-inline-block close-modal" hide-modal="">
        <div class="close-overlay pointer">+</div>
      </a>
      <h1 class="head-modal">Importing transactions</h1>
      <div class="w-form form-wrapper">
        <label class="field-label">Import all transactions</label>
        <div class="review-text">This will scan all blocks in the blockchain.
          This is very resource intensive task. It may take some time for the synchronization process
        </div>
        <div class="submit-div small-top-margin">
          <a class="login-btn modals pointer" ng-click="importAll()">Import all transactions</a>
        </div>

        <div class="w-form form-wrapper">
          <label class="field-label" for="field4">Import transactions from last n blocks</label>
          <select class="w-select" id="field4" name="Select-a-number" data-name="Select a number"
                  required="required" ng-model="no_blocks_to_import" selected="1300">
            <option value="1300">n = 1300 (since roughly 1 day ago)</option>
            <option value="9100">n = 9100 (since roughly 7 days ago)</option>
            <option value="40000">n = 40000 (since roughly 30 days ago)</option>
            <option value="113000">n = 113000 (since roughly 90 days ago)</option>
          </select>
        </div>

        <div class="submit-div small-top-margin">
          <a class="login-btn modals pointer" ng-click="importLast()">Import recent transactions</a>
        </div>


        <label class="field-label">Don't import transactions</label>
        <div class="review-text">You can send and receive coins from your account, but you won't be able to see or spend any transactions you have received before now</div>
        <div class="submit-div small-top-margin">
          <a class="login-btn modals pointer" hide-modal="">Don't import transactions</a>
        </div>
        <div class="w-form-fail error-backing" style="display: block;" ng-show="!!error">
            <p>{{error}}</p>
        </div>
        <div class="w-form-done success-backing" style="display: block;" ng-show="!!success">
          <p>{{success}}</p>
        </div>
      </div>
    </div>
  </div>
</div>