<div class="modal-background" modal-name="login" ng-controller="LoginCtrl">
    <div class="w-container">
        <div class="w-clearfix modal-box">
            <a class="w-inline-block close-modal" hide-modal>
                <div class="close-overlay pointer" data-ix="close-overlay">+</div>
            </a>

            <div class="modalhead-div">
                <h1 class="head-modal">Login to an existing account</h1>

                <div class="subhead-text modal">
                    Don’t yet have an account?&nbsp;
                    <a class="login-link" data-ix="close-overlay" hide-modal href="#!/create-your-account">
                        Create a Monero account
                    </a>
                </div>
            </div>
            <div class="form-div">
                <div class="w-tabs" data-duration-in="300" data-duration-out="100">
                    <div class="w-tab-menu tabs-style">
                        <a class="w-tab-link w-inline-block tab-link-1" ng-class="{'w--current': tab_number == 1}" data-w-tab="Tab 1" ng-click="set_tab(1)">
                            <div>Login with Private Login Key</div>
                        </a>
                        <a class="w-tab-link w-inline-block tab-link-2" ng-class="{'w--current': tab_number == 2}" data-w-tab="Tab 2" ng-click="set_tab(2)">
                            <div>Login with Address and Viewkey</div>
                        </a>
                    </div>
                    <div class="w-tab-content">
                        <div class="w-tab-pane" data-w-tab="Tab 1" ng-class="{'w--tab-active': tab_number == 1}">
                            <div class="form-wrapper">
                                <form id="email-form" name="email-form" data-name="Email Form" data-redirect="/overview.html"
                                      ng-submit="login_mnemonic(mnemonic, mnemonic_language)" >
                                    <label class="field-label" for="Login-Key">Your Private Login Key</label>
                                    <input class="w-input" id="Login-Key" type="text" placeholder="Enter your Private Login Key here"
                                           name="Login-Key" data-name="Login Key" autocomplete="off" required="required" ng-model="mnemonic">
                                    <label class="field-label" for="Login-Key-Language">Language</label>
                                    <select class="w-input" id="Login-Key-Language" ng-model="mnemonic_language"
                                            selected="english" required="required">
                                        <option value="english">English</option>
                                        <option value="portuguese">Portuguese</option>
                                        <option value="spanish">Spanish</option>
                                        <option value="japanese">Japanese</option>
                                    </select>

                                    <div class="submit-div">
                                        <input class="w-button login-btn pointer" id="form-submit" type="submit" value="Enter my account"
                                               data-wait="Please wait...">
                                    </div>

                                    <div class="w-form-fail error-backing" style="display: block;" ng-show="!!error">
                                        <p>{{error}}</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="w-tab-pane" data-w-tab="Tab 2" ng-class="{'w--tab-active': tab_number == 2}">
                            <div class="form-wrapper">
                                <form id="email-form" name="email-form" data-name="Email Form" data-redirect="/overview.html"
                                      ng-submit="login_keys(address, view_key, spend_key)" >
                                    <label class="field-label" for="your-address">Your Address</label>
                                    <input class="w-input" id="your-address" type="text" placeholder="Enter your address here"
                                           name="Your-address" data-name="Your address" autocomplete="off" required="required" ng-model="address">
                                    <label class="field-label" for="view-key">View Key</label>
                                    <input class="w-input" id="view-key" type="text" placeholder="Enter your view key here"
                                           name="View-Key" data-name="View Key" autocomplete="off" required="required" ng-model="view_key">
                                    <label class="field-label" for="spend-key">Spend Key</label>
                                    <input class="w-input" id="spend-key" type="text" placeholder="Optionally, enter your spend key here"
                                           name="Spend-Key" data-name="Spend Key" autocomplete="off" ng-model="spend_key">
                                    <div class="subhead-text modal">
                                       Without spendkey, you will login in a view only mode.
                                        Only incoming transactions will be shown, and
                                        sending transactions will not be possible.
                                    </div>
                                    <div class="submit-div">
                                        <input class="w-button login-btn pointer" id="form-submit2" type="submit" value="Enter my account"
                                               data-wait="Please wait...">
                                    </div>
                                    <div class="w-form-fail error-backing" style="display: block;" ng-show="!!error">
                                        <p>{{error}}</p>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
