<div class="review-details-modal" modal-name="transfer-confirm">
  <div class="w-container review-details-container">
    <div class="w-clearfix review-details-div">
      <a class="w-inline-block close-modal" data-ix="close-login-key" ng-click="transferConfirmDialog.cancel()">
        <div class="close-overlay pointer" data-ix="close-overlay">+</div>
      </a>
      <h1 class="head-modal">Transaction confirmation</h1>
      <div class="subhead-text modal review">Please review and confirm transaction details</div>
      <div class="w-form form-wrapper">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label class="field-label review" for="Mnemonic-2">Receiver Address</label>
          <div class="move-text-div">
            <div class="review-text address">{{transferConfirmDialog.address}} </span></div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-4 responsive-column">
              <label class="field-label review" for="Amount">Amount</label>
              <div class="review-text">{{transferConfirmDialog.amount | money}} (+{{transferConfirmDialog.fee | money}} fee)</div>
            </div>
            <div class="w-col w-col-4 responsive-column">
              <label class="field-label review">Ring Size (In/Out)</label>
              <div class="review-text">{{transferConfirmDialog.mixin}} ({{ transferConfirmDialog.no_inputs }}/{{ transferConfirmDialog.no_outputs }}) </div>
            </div>
            <div class="w-col w-col-4 responsive-column">
              <label class="field-label review">Priority</label>
              <div class="review-text">{{transferConfirmDialog.priority}}</div>
            </div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-8 responsive-column">
              <label class="field-label review" for="Mnemonic-2">Payment ID</label>
              <div class="review-text">{{transferConfirmDialog.payment_id || "N/A"}}</div>
            </div>
            <div class="w-col w-col-4 responsive-column">
              <label class="field-label review" for="Mnemonic-2">Size [kB]</label>
              <div class="review-text">{{transferConfirmDialog.txBlobKBytes}}</div>
            </div>
          </div>
          <label class="field-label review" for="Mnemonic-2" ng-show="transferConfirmDialog.tx_hash">Transaction ID/Hash</label>
          <div class="move-text-div">
            <div class="review-text">{{transferConfirmDialog.tx_hash}}</div>
          </div>
          <label class="field-label review" for="Mnemonic-2" ng-show="transferConfirmDialog.tx_hash">Transaction Private Key</label>
          <div class="move-text-div">
            <div class="review-text">{{transferConfirmDialog.tx_prv_key}}</div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-12 responsive-column">
              <label class="field-label review" for="raw_tx_data">Raw tx data to be submitted to the backend</label>
              <textarea id="raw_tx_data" rows="4" style="width:100%">{{transferConfirmDialog.raw_tx}}</textarea>
            </div>
          </div>

          <br/>
          <div class="move-text-div">
            <div class="review-text ">After pressing "Confirm", an attempt will be made to
              submit this tx to a Monero node. The node will perform additional checks of the tx
              (e.g., if the miner fee is sufficient), and if the tests pass, the tx will be submitted to
              Monero network awaiting miners confirmation.</div>
          </div>
          <div class="submit-div">
            <a class="login-btn modals pointer" data-ix="close-review-details" ng-click="transferConfirmDialog.confirm()">Confirm</a>
            <a class="login-btn modals pointer" data-ix="close-review-details" ng-click="transferConfirmDialog.cancel()">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
