<div ng-include src="'partials/account-nav.html'"></div>

<div class="body-section">
<div class="w-container">
  <div>
    <div class="w-row">
      <div class="w-col w-col-6 w-clearfix">
        <div class="header-div-block">
          <h1 class="heading-contained">Transactions</h1>
          <div class="subhead-text inner">
            A complete statement of all transactions for your account.
            <span ng-show="view_only"><rb/>This is <b>view only</b> wallet.</span>
          </div>
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="balance-div">
          <div class="w-clearfix">
            <div class="balance-header">Your Balance / Unlocked Balance</div>
          </div>
          <div class="balance-text">
            {{balance | money:false:true}} / {{balance_unlocked | money:false:true}}<br/>
            Refreshed: {{account_scanned_block_height}} / {{blockchain_height}}
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="generated-results">
    <div class="details-block top">
      <div class="result-header">YOUR&nbsp;MNEMONIC <span class="info-text">(You’ll need this to login. Don't forget it!)</span>
      </div>

      <div class="result-text">{{mnemonic}}</div>
    </div>
    <div class="details-block">
      <div class="result-header">PUBLIC&nbsp;ADDRESS</div>

      <div class="result-text">{{address}}</div>
    </div>
    <div class="details-block">
      <div class="result-header">VIEW&nbsp;KEY</div>

      <div class="result-text">{{viewkey}}</div>
    </div>
    <div class="login-div"><a class="button generate-btn login" href="#">Log In</a>
    </div>
  </div>
</div>
<div class="w-container middle-container transaction-page">
  <div>
    <div class="overview-body-head"></div>
  </div>
  <div class="table-headers">
    <div class="w-row">
      <div class="w-col w-col-2 shift-column none" ng-click="clickedPredicate('approx_float_amount')">
        <div class="transaction-head transactions">Value (XMR) <i class="fa {{predicateIcon('approx_float_amount')}}"></i></div>
      </div>
      <div class="w-col w-col-3 shift-column" ng-click="clickedPredicate('id')">
        <div class="transaction-head transactions">Date Received <i class="fa {{predicateIcon('timestamp')}}"></i></div>
      </div>
      <div class="w-col w-col-1 shift-column" ng-click="clickedPredicate('mixin')">
        <div class="transaction-head transactions">Ring Size <i class="fa {{predicateIcon('mixin')}}"></i></div>
      </div>
      <div class="w-col w-col-6 shift-column" ng-click="clickedPredicate('hash')">
        <div class="transaction-head transactions">Transaction ID <i class="fa {{predicateIcon('hash')}}"></i></div>
      </div>
    </div>
  </div>
  <div class="received-div transaction-body lighter" ng-repeat="tx in transactions | orderBy:predicate:reverse | startFrom:pageNum*pageSize | limitTo:pageSize">
    <div class="w-row" ng-click="toggle_tx_detail(tx)">
      <div class="w-col w-col-2">
        <div class="transaction-detail transaction-left transaction-page">
          <!--
          <strong class="bold" ng-show="tx_is_confirmed(tx)">{{tx.amount | money}}  <span ng-show="!tx_is_unlocked(tx)"><i class="fa fa-lock"></i></span></strong>

          <strong class="bold red" ng-show="!tx_is_confirmed(tx)">
            {{tx.amount | money}} (unconfirmed<span ng-show="tx_is_mempool(tx)">, mempool</span>)
            <span ng-show="!tx_is_unlocked(tx)"><i class="fa fa-lock"></i></span>
          </strong>
          -->

          <div class="transaction-detail value-bold" style="color: #e65a5a;" ng-show="tx_is_mempool(tx)">
            {{tx.amount | money}} (unconfirmed)
          </div>

          <div class="transaction-detail value-bold" ng-show="!tx_is_mempool(tx)">
            {{tx.amount | money}} <span ng-show="!tx_is_unlocked(tx)"><i class="fa fa-lock"></i></span>
          </div>



        </div>
      </div>
      <div class="w-col w-col-3">
        <div class="transaction-detail transaction-page">{{tx.timestamp | time}}</div>
      </div>
      <div class="w-col w-col-1">
        <div class="transaction-detail transaction-page">{{tx.mixin}}</div>
      </div>
      <div class="w-col w-col-6">
        <div class="move-text-div">
          <div class="transaction-address transaction-page">{{tx.hash}}</div>
        </div>
      </div>
    </div>
    <div class="w-row" ng-show="showing_tx_detail(tx)">
      <div class="w-col w-col-11">
        <div class="transaction-detail transaction-left" style="font-size: 10px;" ng-show="!tx_is_unlocked(tx)">
          {{tx_locked_reason(tx)}}
        </div>

        <div class="transaction-detail transaction-page move-text-div">
          <div class="transaction-address transaction-page">
            <span class="bold">Block no:</span> &nbsp;&nbsp;{{tx_is_mempool(tx) ? 'N/A (tx in mempool)' : tx.height}}
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="bold">Payment ID:</span> &nbsp;&nbsp;{{tx.payment_id || "N/A"}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="table-btn left pointer" ng-click="navigatePage(1)">&lt;&lt; Previous 10</a>
  <a class="table-btn right pointer" ng-click="navigatePage(-1)">Next 10 &gt;&gt;</a>
</div>
</div>
