<div class="balance-div">
    <div class="w-clearfix">
        <div class="balance-header">Your Balance / Unlocked Balance</div>
    </div>
    <div class="balance-text" ng-show="!blockchain_height">
        Fetching initial data... Please wait.
    </div>
    <div class="balance-text" ng-show="blockchain_height">
        {{balance | money:false:true}} / {{balance_unlocked | money:false:true}}<br/>
        Refreshed: {{account_scanned_block_height}} ({{account_scanned_block_timestamp | time}}) / {{blockchain_height}}<br/>
    </div>
</div>