<div ng-include src="'partials/account-nav.html'"></div>

<div class="body-section">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-6 w-clearfix">
        <div class="header-div-block">
          <h1 class="heading-contained">Transactions</h1>
          <div class="subhead-text inner">
            A complete statement of all transactions for your account.
            <span ng-show="view_only"><rb/>This is <b>view only</b> wallet.</span>
          </div>
        </div>
      </div>
      <div class="w-col w-col-6">
        <ng-include src="'partials/account-balance.html'"></ng-include>
      </div>
    </div>
    <div class="w-container middle-container overview-page">
      <div>
        <div class="overview-body-head">Transaction History</div>
      </div>
      <div class="table-headers overview">
        <div class="w-row">
          <div class="w-col w-col-2 responsive-column">
            <div class="transaction-head">Value (XMR)</div>
          </div>
          <div class="w-col w-col-3 responsive-column">
            <div class="transaction-head">Date Received</div>
          </div>
          <div class="w-col w-col-7 responsive-column">
            <div class="transaction-head">Transaction ID/Hash</div>
          </div>
        </div>
      </div>
      <div class="received-div" ng-repeat="tx in transactions | orderBy:predicate:reverse | startFrom:pageNum*pageSize | limitTo:pageSize">
          <transaction></transaction>
      </div>
      <div class="w-form-fail error-backing" style="display: block;" ng-show="!!error">
          <p>{{error}}</p>
      </div>
      <a class="table-btn left pointer" ng-click="navigatePage(1)">&lt;&lt; Previous 20</a>
      <a class="table-btn right pointer" ng-click="navigatePage(-1)">Next 20 &gt;&gt;</a>
    </div>
  </div>
</div>
