<div class="coloured">
  <div class="w-container">
    <div class="subhead-text">Already have an account?&nbsp;
      <a class="login-link steps pointer" data-ix="display-login" show-modal="login">Login to an existing Swap account</a>
    </div>
  </div>
</div>
<div>
  <div class="w-container create-account-container">
    <div class="no-account-div upper-box">
      <div class="info-header middle-top">Your Private Login Key</div>
      <div class="result-text">{{mnemonic}}</div>
    </div>
    <div class="mid-div">
      <div class="w-form formwrap login-key-form">
        <form id="email-form" name="email-form" data-name="Email Form" data-redirect="/overview.html" ng-submit="login(seed, mnemonic, mnemonic_confirmation)" >
          <label class="info-header form middle" for="Login-Key">Confirm your Private Login Key</label>
          <input class="w-input mnemonic-page" id="Login-Key" type="text" ng-model="mnemonic_confirmation" placeholder="Type your Private Login Key out here to confirm it" name="Login-Key" data-name="Login Key" autocomplete="off" required="">
          <input class="w-button mnemonic-login" id="form-submit" type="submit" value="I&#39;ve written down my Private Login Key, log me in!" data-wait="Please wait...">
        </form>
        <div class="w-form-fail" style="display: block;" ng-show="!!error">
          <p>{{error}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
