<div ng-include src="'partials/account-nav.html'"></div>

<div class="body-section">
    <div class="w-container">
        <div>
            <div class="w-row">
                <div class="w-col w-col-6 w-clearfix">
                    <div class="header-div-block">
                        <h1 class="heading-contained">Receive</h1>
                        <div class="subhead-text inner">
                            Receive funds from any Monero user.
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-6">
                    <ng-include src="'partials/account-balance.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>

    <div class="w-container middle-container receive">
        <div class="middle-div receive">
            <div class="w-form send-form receive">
                    <label class="send-label" for="Receiver-address">   Integrated Address
                    </label>
                    <div class="move-text-div">
                        <div class="middle-text receive">
                            {{integarted_address}} 
                        </div>
                    </div>


                    <div class="w-col w-col-6 responsive-column">         
                        <label class="send-label" for="payment_id8">
                            Payment ID (max 16 [0-9a-f] characters)
                        </label>               
                        <input class="w-input" id="payment_id8" type="text" ng-model="payment_id8"
                               placeholder="e.g. 671a4f30238c5152"
                               name="payment_id8" data-name="payment_id8">
                    </div>


                    <div class="w-col w-col-6 responsive-column">
                        <label class="send-label" for="payment_id8_rendered">
                            Final payment ID
                        </label>
                        <div class="move-text-div">
                            <div class="middle-text receive">
                                {{payment_id8_rendered}}
                            </div>
                        </div>
                    </div>    



                    <div class="submit-div small-top-margin">
                      <a class="login-btn modals pointer" ng-click="new_payment_id8()">Generate new integrated address</a>
                    </div>            


                    <div class="w-form-fail error-backing" style="display: block;" ng-show="!!error">
                        <p>{{error}}</p>
                    </div>                           

            </div>
        </div>
    </div>
</div>
