<div class="coloured">
  <div class="w-container">
    <h1 class="slider-heading">Monero Support</h1>
    <div class="subhead-text">Need an account?&nbsp;<a href="#!/create-your-account" class="login-link steps">Create a Monero account.</a>
    </div>
  </div>
</div>
<div>
  <div class="w-container create-account-container">
    <div class="no-account-div top-box">
      <div class="w-row">
        <!--
        <div class="w-col w-col-6 column-support">
          <div class="support-block">Support Email:</div>
          <div class="support-text">xxx@xxxx</div>
        </div>
        -->
        <div class="w-col w-col-12 column-support">
          <div class="support-block">Feedback &amp;&nbsp;Bugs:</div>
          <div class="support-text">Please make an issue at https://github.com/moneroexamples/openmonero</div>
        </div>
      </div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-12">
        <div class="no-account-div">
          <div class="info-header middle">What is Open Monero?</div>
          <div class="no-account-text thin middle">
            Open Monero is an open source, re-implementation
            of https://mymonero.com/.
            The frontend, html, css, JavaScript, were adapted
            from, and originally developed by https://mymonero.com/.

           The Open Monero backendis open source, free
            to use and modify.
          </div>
        </div>
      </div>
      <!--
      <div class="w-col w-col-6">
        <div class="no-account-div">
          <div class="info-header middle">What is a Hosted Monero Account?</div>
          <div class="no-account-text thin middle">The service provides secure, hosted Monero accounts in order to provide easy access to funds for those that would prefer not to run a full Monero client themselves, or for those on devices with limited resources. You can access your account on any device, as long as you have access to your private login key. The service never knows your private login key, and is thus unable to spend your funds without your authorisation. All of the private cryptography is done locally on your device.</div>
        </div>
      </div>
      -->
    </div>
  </div>
</div>
